/* Выделение элементов с классом, содержащим слово "active" */
[class~="active"] {
  font-weight: bold;
}

/* Окраска в синий цвет текста элементов с атрибутом lang, начинающимся с "en-" */
[lang^="en-"] {
    color: blue;
}

/* Задание жирного шрифта ссылкам, содержащим в href подстроку "product" */
a[href*="product"] {
    font-weight: bold;
}
