/* Универсальный селектор для сброса отступов и полей */
* {
    margin: 0;
    padding: 0;
}

/* Групповой селектор для заголовков */
h1, h2, h3 {
    color: navy;
    font-family: Arial, sans-serif;
}
